{% extends 'base.html.twig' %}

{% block title %}Backoffice Bookmark{% endblock %}

{% block body %}
<h1 class="text-center">
Bienvenue sur le BackOffice de BookMark !
</h1>
<div class="d-flex justify-content-center mt-5">
<img src="{{ asset('assets/images/bookmark-logo.svg') }}" alt="logo-BookMark" width="250rem">
</div>
{% endblock %}
