{# read and display all flash messages #}
{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div
			class="alert alert-{{ label }} alert-dismissible fade show mt-2" role="alert">
			{# display raw HTML and delete all script (XSS attacks) and HTML tags except 'b'#}
			{{ message|striptags('<b>')|raw }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}
