<form method="post" action="{{ path('app_back_editorial_delete', {'id': editorial.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editorial.id) }}">
    <button class="btn">Delete</button>
</form>
