<form method="post" action="{{ path('app_back_editorial_delete', {'id': editorial.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editorial.id) }}">
	<button class="btn btn-danger mt-1">Supprimer</button>
</form>
