{% extends 'base.html.twig' %}

{% block title %}Choisir l'éditorial pour la page d'accueil
{% endblock %}

{% block body %}
	<h1>Choisir l'éditorial pour la page d'accueil
	</h1>

	{{ include('back/editorial/_home_active_form.html.twig') }}

	<a href="{{ path('app_back_editorial_index') }}" class="btn btn-primary mt-2">Retour à la liste</a>

{% endblock %}
